{% extends 'layout.html' %}

{% block content %}


<div class="wrapper">
    <div class="container">
        <div class="row text-center">
            <h1 >Códigos QR</h1>
    
            <div class="col">
                <form method="post" action="{% url 'inicio:execute_code' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Generar QRs</button>
                </form>
            </div>
            <div class="col">
                <form action="{% url 'inicio:descargar_qrs' %}">
                    <button type="submit" class="btn btn-primary" >Descargar QRs</button>
                </form>
            </div>
        
        <h2>Lista de QR</h2>
        <h1>Imágenes</h1>
    
        </div>
    </div>
    
    <!-- <div class="container">
        <form class="d-flex" role="search" action="">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
    </div>
     -->
    
    <script>
        function downloadImg(rutaImagen) {
            // Crear un enlace temporal para la descarga
           
            var link = document.createElement("a");
            link.href = "../" + rutaImagen;
            link.download = rutaImagen;
    
            // Simular un clic en el enlace para iniciar la descarga
            document.body.appendChild(link);
            link.click();
            console.log(link);  
            document.body.removeChild(link);
        }
    </script>
    
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for qr in codigos_qr %}
                <div class="col">
                    <div class="card h-100 text-center">
                        <img src="{{ qr.QR.url }}" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">{{ qr.ClaveAcumulador }}</h5>
                            <button type="button" class="btn btn-light rounded-0 btn-sm" onclick="downloadImg('{{ qr.QR.url }}')">Descargar</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}