{% extends 'layout.html' %}

{% block content %}


<div class="container wrapper mt-4">
    <div class="container mt-4">
        <div class="row mt-4">
            <div class="mt-4">
                <h1 >Códigos QR</h1>
            </div>
            <div class="mt-4">
                <h2>Lista de QR's</h2>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function mostrarSpinner() {
            document.getElementById('spinner').style.display = 'block';
        }

        function downloadImg(rutaImagen) {
            // Crear un enlace temporal para la descarga
           
            var link = document.createElement("a");
            link.href = "../" + rutaImagen;
            link.download = rutaImagen;
    
            // Simular un clic en el enlace para iniciar la descarga
            document.body.appendChild(link);
            link.click();
            console.log(link);  
            document.body.removeChild(link);
        }
    </script>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-5">
                <form method="GET" action="{% url 'inicio:catalogue' %}" class="row g-4 justify-content-center">
                    <div class="col-auto col-lg-6 text-center">
                        <input class="form-control" type="text" name="search" placeholder="Buscar" value="{{ request.GET.search }}">
                    </div>
                    <div class="col-auto col-lg-3 text-center">
                        <button type="submit" class="btn btn-dark">Buscar</button>
                    </div>
                    <div class="col-auto col-lg-3 text-center">
                        <a href="{% url 'inicio:catalogue' %}" class="btn btn-outline-secondary">Limpiar</a>
                    </div>
                </form>
            </div>
    
            <div class="columna col-lg-6 offset-lg-1 mt-4 mt-lg-0">
                <div class="row justify-content-center">
                    <div class="col-auto col-xl-4 text-right">
                        <!-- Spinner inicialmente oculto -->
                        <div id="spinner" class="spinner-border text-dark" role="status" style="display: none;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="col-auto col-xl-4" style="text-align: right;">
                        <form action="{% url 'inicio:execute_code' %}" onclick="mostrarSpinner()">
                            <button class="btn btn-primary" >Generar QRs</button>
                        </form>
                    </div>
                    <div class="col-auto col-xl-4" style="text-align: right;">
                        <form action="{% url 'inicio:descargar_qrs' %}">
                            <button class="btn btn-primary" >Descargar QRs</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
          
    </div>
    
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 g-4">
            {% for qr in codigos_qr %}
                <div class="col">
                    <div class="card h-100 text-center">
                        <a href="{{ qr.QR.url }}" target="_blank">
                            <img src="{{ qr.QR.url }}" class="card-img-top img-fluid border-bottom border-2">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ qr.ClaveAcumulador }}</h5>
                            <button type="button" class="btn btn-outline-dark" onclick="downloadImg('{{ qr.QR.url }}')">Descargar</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}