{% extends 'layout.html' %}

{% block content %}
<!-- <div class="container">
    <h2>Editar Vehículo</h2>
    <table>
        <form class="" method="post">
            {% csrf_token %}
            <div class="row">
                {{ form.as_table }}
            </div>
            
        </form>
    </table>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </div>
</div> -->

<div class="container">
    <h2>Editar Vehículo</h2>
    <div class="form-group">
        <form class="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
    

</div>
{% endblock %}