{% extends 'layout.html' %}

{% block content %}


<div class="container mt-4 wrapper">
    <div class="container align-items-center">
        <h1>Lista</h1>
        <p>Vehículos registrados</p>   
        <!-- <a class="btn btn-primary" href="{% url 'inicio:upload_file' %}">Subir Archivo</a>
        <a class="btn btn-primary" href="{% url 'inicio:catalogue' %}">Ir al Catálogo</a> -->
    </div>
    
    <div class="container">
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-12">
                    <form method="GET" action="{% url 'inicio:inicio' %}" class="row g-3 align-items-center">
                        <div class="col-auto">
                            <input class="form-control" type="text" name="search" placeholder="Buscar" value="{{ request.GET.search }}">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-dark">Buscar</button>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'inicio:inicio' %}" class="btn btn-outline-secondary">Limpiar</a>
                        </div>
                        <div class="col-auto">
                            <select name="filter" class="form-select">
                                <option value="" {% if request.GET.filter == "" %}selected{% endif %}>Todos</option>
                                <option value="placas" {% if request.GET.filter == "placas" %}selected{% endif %}>Placas</option>
                                <option value="marca" {% if request.GET.filter == "marca" %}selected{% endif %}>Marca</option>
                                <option value="submarca" {% if request.GET.filter == "submarca" %}selected{% endif %}>Submarca</option>
                                <option value="seriechasis" {% if request.GET.filter == "seriechasis" %}selected{% endif %}>SerieChasis</option>
                                <option value="area" {% if request.GET.filter == "area" %}selected{% endif %}>Area</option>
                                <option value="claveacumulador" {% if request.GET.filter == "claveacumulador" %}selected{% endif %}>Clave Acumulador</option>
                            </select>   
                        </div>                     
                        
                    </form>
                </div>
            </div>
            <div class="row mt-4">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Placas
                                    </th>
                                    <th>
                                        Marca
                                    </th>
                                    <th>
                                        Submarca
                                    </th>
                                    <th>SerieChasis</th>
                                    <th>Area</th>
                                    <th>ClaveAcumulador</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vehiculo in vehiculos %}
                                <tr>
                                    <td>{{ vehiculo.Placas }}</td>
                                    <td>{{ vehiculo.Marca }}</td>
                                    <td>{{ vehiculo.SubMarca }}</td>
                                    <td>{{ vehiculo.SerieChasis }}</td>
                                    <td>{{ vehiculo.Area }}</td>
                                    <td>{{ vehiculo.ClaveAcumulador }}</td>
                                    <td><a href="{% url 'inicio:editar_vehiculo' vehiculo.id %}" class="btn btn-primary">Editar</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}